<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMovieList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">

            <a class="navbar-brand text-white" asp-area="" asp-controller="Search" asp-action="Index">Movie Search</a>

            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Search" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="MovieList" asp-action="Index">List</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {

                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout" class=" btn btn-block">
                            <input type="submit" value="Logout" class="btn btn-light" />
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </li>
                }


            </ul>
            <form asp-controller="Search" asp-action="Index" class="form-inline">

                <input type="text" name="search" class="form-control" placeholder="Enter a name">

                <input type="Submit" value="Search" class="btn btn-primary" />

            </form>




        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
